.form {
  display: flex;
  flex-direction: row;
  width: 576px;
  height: 36px;
  background-color: #f5f5f5;
  border-bottom: 3px solid #007cc2;
  margin-bottom: 16px;
}

.input {
  width: 100%;
  padding: 8px;
}

.submitBtn {
  padding-left: 12px;
  padding-right: 12px;
}

.input,
.input:focus-visible,
.submitBtn {
  border: none;
  outline: none;
  background: transparent;
}
