.searchResult {
  background-color: #fff;
  text-align: center;
}

.pages {
  columns: 3;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.imageItem {
  width: 184px;

  overflow: hidden;
  margin-bottom: 8px;
  padding: 0;
  display: block;
  background-color: #d8d8d8;
}

img.image {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inherit;
}

.moreBtn {
  align-self: center;
  margin-top: 16px;
  background-color: transparent;
  border: none;
}

.loading,
.error,
.empty {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 8px;
  width: 100%;
}

.loading {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.error {
  background-color: rgb(247, 134, 134);
}
